# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
.code-workspace
*.code-workspace

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
FIREBASE_SETUP.md
scripts/test-rate-limit.js
341007890_1169413207083095_7978995066125363840_n.jpg
scripts/export_clienti_mypushop.py
scripts/__pycache__/export_clienti_mypushop.cpython-314.pyc
